a {
  outline: 0 !important;
}

.clear {
  clear: both;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px;
}

.small {
  font-size: 85%;
}

div.loading {
  background-image: url('../img/loader.gif');
  text-indent: -9999px;                 /* sends the text off-screen */
  height: 11px;
  width: 16px;
  white-space: nowrap;
  margin-top: 5px;
}

input {
  width: 315px;
}

.error {
  margin-bottom: 10px;
}

.btn {
  vertical-align: top;
}